body
{
    font: 12px verdana, sans-serif;
    margin: 0px;
}


.container
{
    width: 880px;
    margin: 0 auto;
}

.sidebar
{
    float: left;
    width: 240px;
    height:480px;
    text-align: left;
    overflow:auto;
    background-color: #bbd2df;
}

.subSidebar
{
    float: left;
    width: 240px;
    height:50px;
    text-align: left;
    overflow:auto;
    background-color: #bbd2df;
    position: relative;
    top: 50%;
    //transform: translateY(50%);
}


.content
{
    float: right;
    width: 640px;
    margin: 0 auto;
    background-color: #bbd2df;
}

.subContent
{
    text-align: center;
    float: right;
    width: 640px;
    height:50px;
    margin: 0 auto;
    background-color: #bbd2df;
    font-size: 15px;
}

.user-row
{
    color: green;
    font-weight: bold;
}

.active-user-row
{
    background-color: lightgrey;
}

.countdown
{
    display: inline;
}