body
{
    font: 12px verdana, sans-serif;
    margin: 0px;
}

.container-fluid
{
    max-width:1024px;
}

.sidebar
{
    float: left;
    text-align: left;
    overflow:auto;
    background-color: #bbd2df;
}

.subSidebar
{
    float: left;
    text-align: left;
    overflow:auto;
    background-color: #bbd2df;
    position: relative;
    top: 50%;
}


.content
{
    float: right;
    margin: 0 auto;
    background-color: #bbd2df;
}

.subContent
{
    text-align: center;
    float: right;
    margin: 0 auto;
    background-color: #bbd2df;
    font-size: 15px;
}

.info
{
    text-align: right;
    margin: 0 auto;
    background-color: #aaddff;
    font-size: 12px;
}


.user-row
{
    color: green;
    font-weight: bold;
}

.active-user-row
{
    background-color: lightgrey;
}

.inline
{
    display: inline;
}

.panel-overflow
{
    overflow-y:auto;
    max-height: 395px;
    min-height: 150px;
}

.container-fluid
{
    margin: 10px;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

.messages {
    font-size: 150%;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.chatArea {
    height: 100%;
    padding-bottom: 60px;
}

.messages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: gray;
}

.username {
    float: left;
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}